# Oefeningen basis Python

Importeer de volgende bibliotheken: math, numpy en pandas

In [ ]:
# hier komt jouw code
import math
import numpy as np
import pandas as pd

## Lijsten en tabellen

Maak een list met volgende waarden: 1, 2, 3, 4, 5 en stop deze in de variabele "id"

In [ ]:
# hier komt jouw code
id = [1,2,3,4,5]

Maak een numpy array met volgende waarden: 15, 18, 11, 17, 20 en stop deze in de variabele "leeftijd"

In [ ]:
# hier komt jouw code

Zet de waarden van "leeftijd" om naar een pandas Series en zet het resultaat terug in de variabele "leeftijd".  Verifieer dat het type klopt.

In [ ]:
# hier komt jouw code

Maak een list met volgende waarden: 54.2, 68.1, 41.7, 59.5, 65.4 en stop deze in de variabele "gewicht"

In [ ]:
# hier komt jouw code

Maak een numpy array met volgende waarden: 36.5, 37.1, 36.4, 37.2, 36.9 en stop deze in de variabele "temp"

In [ ]:
# hier komt jouw code

Zet de array "temp" om naar een list en bewaar het resultaat terug in "temp".  Verifieer dat het type nu wel degelijk een list is.

In [ ]:
# hier komt jouw code

Maak een tabel (data frame) waarin de vorige lijsten de kolommen vormen en stop deze in de variabele "gegevens".  Gebruik voor de namen van de kolommen de namen van de variabelen ("id", "leeftijd", "gewicht" en "temp").

In [ ]:
# hier komt jouw code

Toon de kolomnamen van de tabel

In [ ]:
# hier komt jouw code

Toon het aantal kolommen

In [ ]:
# hier komt jouw code

Toon de kolom met naam 'temp'

In [ ]:
# hier komt jouw code

Toon de 2e kolom uit de tabel zonder de naam te gebruiken

In [ ]:
# hier komt jouw code

Verwijder de derde rij uit de tabel

In [ ]:
# hier komt jouw code

Toon de 3e rij uit de tabel

In [ ]:
# hier komt jouw code

Toon de 2e en de 4e rij uit de tabel

In [ ]:
# hier komt jouw code

Toon de 2e tot en met 4e rij uit de tabel

In [ ]:
# hier komt jouw code

Bereken de minimum en maximum leeftijd.  Je kan dit doen door de methoden "min()" en "max()" op te roepen op de kolom.

In [ ]:
# hier komt jouw code

Bereken de som van alle gewichten en deel die door het aantal gewichten (bereken dus het gemiddelde gewicht).  Je kan hiervoor de methode "sum()" oproepen op de kolom.  De lengte van de kolom vind je met de functie "len()".
Bemerk dat sum() een methode is die je op een object oproept (de kolom) en len() een functie is die niet aan een object gekoppeld is (vergelijkbaar met een static method in java).  Dit laat zien dat Python een hybride taal is waarin je tegelijk OO en procedureel kan programmeren.
Toon het resultaat met 3 cijfers na de komma.  Hier zie je een hint hoe je dat kan doen:
```python
print("pi is{:10.2f}".format(math.pi))
```

In [ ]:
# hier komt jouw code

Bereken alle gewichten in gram (vermenigvuldig ze dus met 1000) maar verander de tabel niet.  Geef het resultaat weer als een Python list.
Zie je wat er met de laatste waarde gebeurt?  Hoe komt dit?

In [ ]:
# hier komt jouw code

Zet alle temperaturen om naar Fahrenheit, rondt deze af op 1 cijfer na de komma en zet deze waarden in de tabel in een nieuwe kolom met de naam "temp_far".
Hint: een kolom uit een data frame is een Series en heeft een methode "round()"

In [ ]:
# hier komt jouw code

Bewaar de tabel in een bestand "gegevens.csv".  Gebruik je lokale settings voor de seperator en het formatteren van kommagetallen.

In [ ]:
# hier komt jouw code

Open de tabel in excel of open office. Als je het bestand juist bewaard hebt, zou dit moeten lukken.  Je kan het bestand eventueel ook uploaden naar google drive en openen met google spreadheets.
Voeg er een kolom aan toe met de naam "extra".  Zet volgende gegevens in de kolom: "hallo", "dit", "is", "een", "testje"
Bewaar het bestand als csv.

Lees de aangepaste tabel nu terug in en kijk na of de nieuwe kolom goed werd ingelezen.

In [ ]:
# hier komt jouw code

Verwijder de kolom “id”.

In [ ]:
# hier komt jouw code

Voeg een rij toe met [ 30, 74.1, 36.5, 97.7 ] als waarden (zoek eens op hoe je dat kan doen):

In [ ]:
# hier komt jouw code

Voeg een kolom “lengte” toe met gegevens: 160, 175, 162, 169, 179

In [ ]:
# hier komt jouw code

Bereken de BMI van iedere persoon in de tabel en rond deze af op 1 cijfer na de komma.
De BMI is gelijk aan het gewicht gedeeld door de lengte in het kwadraat.  De lengte moet in meter uitgedrukt zijn en het gewicht in kilogram.
Het resultaat moet een list zijn.

In [ ]:
# hier komt jouw code

Voeg deze BMI als kolom toe aan de tabel.

In [ ]:
# hier komt jouw code

Toon alle gewichten die kleiner of gelijk zijn aan 60 uit de kolom gewicht als een list.

In [ ]:
# hier komt jouw code

Vervang in de kolom leeftijd alle leeftijden groter of gelijk aan 18 door 19.
Krijg je een warning?  Je kan dit oplossen door gegevens.loc[] te gebruiken.

In [ ]:
# hier komt jouw code

Vind alle temperaturen van de personen die ouder zijn dan 16 jaar.  Geef het resultaat weer als een numpy array.

In [ ]:
# hier komt jouw code

## Sport data

Bepaal de separator en teken voor kommagetallen in het bestand "sportData.csv".
Lees het bestand "sportData.csv" vervolgens in en zet het resultaat in de variabele "sport".
Toon tenslotte alle kolommen van de tabel, samen met hun type.

In [ ]:
# hier komt jouw code

Hoeveel data-rijen zijn er in dit bestand?

In [ ]:
# hier komt jouw code

Bepaal alle mogelijke waarden die in de kolom "sport" voorkomen.

In [ ]:
# hier komt jouw code

De kolom "sport" bevat blijkbaar de waarden "Niet bekend" en "niet geweten".  Deze waarden zijn geen geldige waarde en zouden we willen lezen als een ontbrekende waarde.
In Python worden verschillende waarden gebruikt om aan te duiden dat er een waarde ontbreekt.  De meest voorkomende is NaN.
Lees het bestand terug in, maar gebruikt de optie om aan te geven welke strings als ontbrekende waarde moeten worden herkend.
Controleer of het gelukt is door alle mogelijke waarden van de kolom "sport" te bekijken.  De twee ongeldige waarden zouden nu weg moeten zijn en vervangen door de waarde nan.

In [ ]:
# hier komt jouw code

Geef een commando dat voor iedere kolom bepaalt of er ontbrekende waarden in voor komen.

In [ ]:
# hier komt jouw code

Welke rijen bevatten ontbrekende (NaN) waarden?  Geef een list met alle rijnummers waarin minstens 1 ontbrekende waarde zit.

In [ ]:
# hier komt jouw code

Verwijder alle rijen met ontbrekende waarden en stop het resultaat in een nieuwe tabel "sport_new".  De oorspronkelijke tabel mag niet veranderd worden.

In [ ]:
# hier komt jouw code

Wat is het maximum van kolom "leeftijd"?

In [ ]:
# hier komt jouw code

Wat is de som van alle waarden van kolom "keer per week" die groter zijn dan 1?

In [ ]:
# hier komt jouw code

Geef een lijst van alle sporten die beoefend worden door mensen die meer dan 3 keer per week sporten.  Geef het resultaat als een Series.

In [ ]:
# hier komt jouw code

## Programmeren

Hier staan een aantal programmeeropdrachten om gewoon te raken aan de syntax en mogelijkheden van Python.

### Dobbelsteen
Schrijf een programma dat 6000 keer met de dobbelsteen rolt en telt hoeveel keer iedere waarde voorkomt.  Probeer geen lussen te moeten schrijven.  Je kan dit doen door te starten met een numpy array van 6000 willekeurige getallen tussen 1 en 6.

Voorbeeld van de werking (dit kan afwijken omdat het willekeurige getallen zijn, maar alle getallen zouden rond de 1000 moeten liggen):

```{text}
Aantal enen: 1007
Aantal tweeën: 994
Aantal drieën: 1006
Aantal vieren: 995
Aantal vijven: 998
Aantal zessen: 1000
```

In [ ]:
# hier komt jouw code

### Kerstboom

Schrijf een programma om een kerstboom af te drukken met behulp van ‘*’ tekens. De breedte van de boom wordt als een oneven geheel getal (13..29)  ingegeven. Indien niet voldaan is aan deze voorwaarde wordt de breedte op 13 ingesteld.

Eerst moet je het midden van de boom bepalen aan de hand van de breedte.
Vervolgens druk je de boom regel per regel af.
Opmerking: de stam bestaat altijd uit 4 regels met een breedte van 3.
Gebruik een for-lus om de boom af te drukken.

Je kan het getal inlezen met volgende code:
```{python}
breedte = int(input("Geef de breedte de van kerstboom (oneven getal in bereik 13..29):"))
```
Als je iets wil printen zonder newline op het einde (zoals System.out.print() in Java), dan kan dat als volgt:
```{python}
print("hello, ", end='')
print("world!")
```
Je kan een aantal keer hetzelfde karakter in een string zetten met:
```{python}
karakter = "*"
aantal = 5
print(karakter * aantal)
```

Voorbeeld van de werking:

```{text}
Geef de breedte de van kerstboom (oneven getal in bereik 13..29): 13

      *
     ***
    *****
   *******
  *********
 ***********
*************
     ***
     ***
     ***
     ***
```

In [ ]:
# hier komt jouw code

### Geheim schrift
Schrijf een programma om berichten te coderen en te decoderen zoals Julius Caesar deed.
Het programma vraagt eerst een bericht.  Dit bericht wordt naar hoofdletters omgezet.
Daarna vraagt het programma aan de gebruiker of het bericht gecodeerd of gedecodeerd moet worden.
Om te coderen, doorloopt het programma alle letters in het bericht en verschuift deze letter telkens een aantal plaatsen (zet deze verschuiving in een variabele).
Met een verschuiving van 3 wordt bijvoorbeeld de letter 'A' een 'D'.  Indien je aan het einde van het alfabet komt begin je terug bij de 'A' (een 'Z' wordt in dit geval een 'C'). Bij het decoderen doe je uiteraard het tegenovergestelde.  Je kan dit heel snel doen door gebruik te maken van de ASCII code van ieder karakter (je mag ervan uitgaan dat alle karakters in de ASCII set passen).
Als een karakter geen letter is, dan wordt die gewoon ongecodeerd (of ongedecodeerd) weergegeven.

Voorbeeld van werking (de verschuiving staat hier op 6):
```{text}
Geef een bericht: The quick brown fox jumps over the lazy dog.
Wil je dit encoderen? J
Gecodeerd bericht:
ZNK WAOIQ HXUCT LUD PASVY UBKX ZNK RGFE JUM.

Geef een bericht: ZNK WAOIQ HXUCT LUD PASVY UBKX ZNK RGFE JUM.
Wil je dit encoderen? N
Gedecodeerd bericht:
THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.
```
Hint: je kan de code heel compact maken als je gebruik maakt van de modulo (%) operator.
Hint: je kan een karakter omzetten naar zijn ASCII code met "ord(c)" en omgekeerd kan je een ASCII code naar een karakter omzetten met "chr(code)"

In [ ]:
# hier komt jouw code

### Vervangen
Maak een functie "vervang(lijst, te_zoeken, vervanging)" die in een list op zoek gaat naar een waarde en die vervangt door een andere.

In [ ]:
# hier komt jouw code

Test de functie uit door in de list [ 10, 20, 30, 30, 40, 30, 0 ] de waarde 30 te vervangen door 42.
Probeer of je functie ook werkt op een numpy array en een pandas Series.  Dat zou moeten lukken.

In [ ]:
# hier komt jouw code

### Wachtwoorden
Een goed wachtwoord kiezen, is voor sommige gebruikers een ware opgave.  We willen een programma maken waarin de gebruiker een nieuw wachtwoord moet kiezen.  Dit moet (omdat we het graag ingewikkeld maken) minstens 8 karakters lang zijn, minstens 1 hoofdletter, 1 kleine letter, een cijfer en een leesteken bevatten.
Maak een functie "is_goed_wachtwoord" die een wachtwoord als parameter meekrijgt en een boolean teruggeeft.  Die boolean is true als het gegeven wachtwoord voldoet aan alle eisen.  De functie geeft ook een foutmelding op het scherm als het wachtwoord niet goed is.
Maak dan een programma dat een nieuw wachtwoord vraagt totdat alle eisen voldaan zijn.

Voorbeeld van de werking:

```{text}
Geef een nieuw wachtwoord: ww
Het moet minstens 8 karakters lang zijn
Geef een nieuw wachtwoord: wachtwoord
Het moet minstens 1 hoofdletter bevatten
Geef een nieuw wachtwoord: WACHTWOORD
Het moet minstens 1 kleine letter bevatten
Geef een nieuw wachtwoord: Wachtwoord
Het moet minstens 1 cijfer bevatten
Geef een nieuw wachtwoord: Wachtw00rd
Het moet minstens 1 leesteken bevatten
Geef een nieuw wachtwoord: Wachtw00rd!
Je nieuwe wachtwoord is goedgekeurd!
```

Hint: je kan heel eenvoudig itereren door de karakters van een string met:
```{python}
for c in string:
    ...
```

In [ ]:
# hier komt jouw code