# Elektro-encefalografie

Elektro-encefalografie is een methode om de **elektrische activiteit** van de hersenen te meten. Het is een non-invasieve ingreep, waarbij de elektroden doorgaans op de hoofdhuid worden geplakt. EEG meet potentiaalverschillen die ontstaan door de ionenstroom in de zenuwcellen van de hersenen.  Via een speciale headset kan de hersenactiviteit in 14 punten gemeten worden.

In [ ]:
# hier komt jouw code

Lees de **eegdata1.csv** dataset in een variabele `eeg1` en bekijk de eerste rijen en de datatypes van de kolommen. Zijn er noemenswaardige problemen?

In [ ]:
# hier komt jouw code

Print de kolomnamen op van de dataset en ook de index.

In [ ]:
# hier komt jouw code

Print de waarden van meetpunt AF3 uit de `eeg1` dataset.

In [ ]:
# hier komt jouw code

Print nu ook het **gemiddelde, de minimum en maximum waarden** van meetpunt AF3.

In [ ]:
# hier komt jouw code

Doe hetzelfde voor de meetpunten F7 en F3.

In [ ]:
# hier komt jouw code

Print de inhoud van de cel op positie [10, 10], print dan enkel de 4de kolom en print totslot enkel de 4de rij uit.

In [ ]:
# hier komt jouw code

Vraag de waarde van cel [1,1] op, verander ze daarna naar 120 en controleer of de waarde veranderd is.

In [ ]:
# hier komt jouw code

Print de waarden van kolommen TIMESTAMP kolom uit als een series-object.

In [ ]:
# hier komt jouw code

Print de waarden van kolommen TIMESTAMP kolom uit als een dataframe-object. Gebruik een list van strings om te indexeren i.p.v. alleen een string.

In [ ]:
# hier komt jouw code

Lees dataset eegdata4.csv in een dataframe genaamd `eeg4` en bekijk de NA-waarden van deze dataset. Hoeveel vind je er per kolom? Hoeveel vind je er in totaal?

In [ ]:
# hier komt jouw code

Verander de NA-waarden naar de waarde -1, maar sla het resultaat niet op in het originele dataframe (dus voer de veranderingen niet door). Controleer of er dan effectief geen NA-waarden meer aanwezig zijn in het resulterende dataframe.

In [ ]:
# hier komt jouw code

Verwijder nu alle rijen met een NA waarde met één commando, maar sla het resultaat ditmaal op in een nieuw dataframe genaamd eeg4_zonder_na.

In [ ]:
# hier komt jouw code

Maak een nieuw dataframe, enkel de kolommen 4 tm 17.

In [ ]:
# hier komt jouw code

Bereken per kolom het gemiddelde. Gebruik de .mean()-methode

In [ ]:
# hier komt jouw code

Bereken per rij het gemiddelde. Gebruik eveneens de .mean()-methode
data.mean(axis=1)

Wijzig het data type van timestamp (een float) naar een aantal microseconden sinds de start. De EEG headset doet namelijk 512 metingen elke 4ms.

Ga als volgt te werk:

1. Gebruik een reguliere expressie om de milliseconden te extraheren uit de timestamp. Dit doe je met een matching group.
2. Cast dat resultaat naar een int en zet die gegevens om naar `timedelta`-objecten met de `to_timedelta`-functie waarbij je de `unit` gelijkstelt aan `ms`. Stop het resultaat in een series genaamd `milliseconden`.
3. Doe gelijkaardige stappen voor de seconden.
4. Trek van alle seconden het minimumseconden af.
5. Tel de seconden op bij de milliseconden.

In [ ]:
# hier komt jouw code